<h2>Eintrag erstellen/überarbeiten</h2>

<form class="ui large form" [formGroup]="entryForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">

  <div class="field">
    <label>Titel</label>
    <input formControlName="title" type="text">
    <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
  </div>

  <div class="field">
    <label>Beschreibung</label>
    <input formControlName="text" type="text">
  </div>

  <div class="field" formArrayName="ratings">
    <label>Bewertungen</label>
    <div *ngFor="let control of ratings.controls; let i = index" [formGroupName]="i">
    <input type="hidden" formControlName="id">
    <input type="number" formControlName="number">
    </div>
    <i *ngIf="!authService.isLoggedIn()" >Nur für angemeldete User möglich</i>
    <button *ngIf="authService.isLoggedIn()"  (click)="addRatingControl()" class="ui large button" type="button">+</button>
  </div>
  <div *ngIf="errors['ratings']" class="ui negative message">{{ errors['ratings'] }}</div>


  <div class="field" formArrayName="comments">
    <label>Kommentare</label>
    <div *ngFor="let control of comments.controls; let i = index" [formGroupName]="i">
      <input type="text" formControlName="text">
    </div>
    <i *ngIf="!authService.isLoggedIn()" >Nur für angemeldete User möglich</i>
    <button *ngIf="authService.isLoggedIn()"  (click)="addCommentControl()" class="ui large button" type="button">+</button>
  </div>

  <button type="submit" class="ui button" [disabled]="entryForm.invalid">Speichern</button>
</form>
