<div class="ui secondary menu">
  <h1 class="ui header"><i class="terminal icon"></i><div class="content">KWM PADLET</div> </h1>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Suche...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a routerLink="padlet" routerLinkActive="active item" class="item">Dashboard</a>
    <a routerLink="create" routerLinkActive="active item" class="item">Padlet erstellen</a>
    <a routerLink="login" routerLinkActive="active item" class="item">Login</a>
  </div>
</div>
<div class="ui divider"></div><br>

<!--Was über Route reingeladen wird, wird hier ausgegeben-->
<router-outlet></router-outlet>
