<h2>Padlet erstellen/überarbeiten</h2>

<form  class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label>Titel</label>
    <input formControlName="title" type="text">
    <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <input formControlName="description" type="text">
  </div>

  <div class="field">
    <label>Sichtbarkeit</label>
    <input type="radio" formControlName="is_public" value="1" [checked]="padlet.is_public" class="ui radio checkbox"> Öffentlich <br>
    <div *ngIf="authService.isLoggedIn()" >
    <input  type="radio" formControlName="is_public" value="0" [checked]="!padlet.is_public" class="ui disabled"> Privat
    </div><br>
  </div>

  <div class="field"  *ngIf="this.padlet.user?.id == this.userId || this.isUpdatingPadlet== false">
    <h3 class="ui header">User hinzufügen</h3><br>
    <div formArrayName="userRoles">
      <div class="fields" *ngFor="let control of userRoles?.controls; index as i; last as l" [formGroupName]="i">
        <input type="hidden" formControlName="id">
        <div class="six wide field">
          <label>User wählen... </label>
          <select class="ui fluid dropdown" formControlName="user_id">
            <option class="hidden" disabled selected>Auswählen...</option>
            <option id="user{{i+1}}" *ngFor="let user of this.allUsers" [value]="user.id">{{ user.firstname }} {{ user.lastname }}</option>
          </select>
        </div>

        <div class="six wide field">
          <label>Rolle wählen...</label>
          <select class="ui fluid dropdown" formControlName="role_id">
            <option class="hidden" disabled selected>Auswählen...</option>
            <option id="role{{i+1}}" *ngFor="let role of this.allRoles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <button (click)="addUserControl()" class="ui large button" type="button">+</button>

    <div *ngIf="errors['useres']" class="ui negative message">{{ errors['users'] }}</div>
  </div>


  <button type="submit" class="ui button" [disabled]="padletForm.invalid">Speichern</button>
</form>
