<!--Nur rendern wenn padlet vorhanden ist-->

<button [routerLink]="'/padlets'" class="ui basic button"><i class="left arrow icon"></i>Zurück zum Dashboard</button>

<div class="ui grid" *ngIf="padlet">
  <div class="eight wide column">
    <br>
      <div class="column">
        <h1 class="ui header" style="margin: 10px 0">{{padlet.title}}</h1>
    </div>
    <p>{{padlet.description}}</p>
    <div class="ui horizontal label" *ngIf="padlet?.is_public">öffentlich</div>
    <div class="ui horizontal label" *ngIf="!padlet?.is_public">privat</div>
    <div class="extra"><br>
      <p>Erstellt von:
        <a class="ui image label">
          <img src="{{padlet?.user?.image}}">
          {{ padlet?.user?.firstname }} {{ padlet?.user?.lastname }}
        </a>
      </p>
      <p>Erstellt am: {{padlet?.created_at | date:'dd.MM.yyyy'}}</p>
      <p>Eingeladene User: </p>
        <span *ngFor="let user of padlet?.users">
    <a class="ui image label" style="margin-right: 10px">
      <img src="{{ user.image }}">
      {{ user.firstname}} {{ user.lastname }}
    </a>
  </span>
    </div>
  </div>

  <div class="eight wide column right aligned">
    <button class="ui green basic button" *ngIf="authService.isLoggedIn()
    && this.padlet.user_id == this.curUser" [routerLink]="['../../create/', padlet.id]">
      <i class="icon user"></i>
      User einladen
    </button>
    <button  class="ui negative basic button" *ngIf="authService.isLoggedIn()" (click)="removePadlet()">
      <i class="icon delete"></i>
      Padlet löschen
    </button>
    <button class="ui blue basic button" *ngIf="authService.isLoggedIn()" [routerLink]="['../../create/', padlet.id]">
      <i class="icon edit"></i>
      Padlet bearbeiten
    </button>
  </div>



  <div class="fifteen wide column" >
    <div class="ui divider"></div>
    <h2 class="ui header">Einträge</h2>
    <button [routerLink]="['../../padlets/'+padlet?.id+'/entries/edit']"  class="ui large button" type="button">+</button>
  </div>

  <span *ngFor="let entry of padlet?.entries" [routerLink]="['../../padlets/'+padlet?.id+'/entries/'+entry?.id]">
  <div class="ui padded segment" style="margin-bottom: 25px">
    <button class="mini ui negative basic button" *ngIf="authService.isLoggedIn()" (click)="removeEntry(entry)">
      <i class="icon delete"></i> Löschen
    </button>

    <button class="mini ui blue basic button" *ngIf="authService.isLoggedIn()" [routerLink]="['../../padlets/'+padlet?.id+'/entries/'+entry?.id+'/edit']">
      <i class="icon edit"></i> Bearbeiten
    </button>

    <h3 class="ui header">{{ entry?.title }}</h3>
    <p>{{ entry?.text }}</p>

    <a [routerLink]="['../../padlets/'+padlet?.id+'/entries/'+entry?.id]">Mehr anzeigen...</a>
  </div>
</span>

  </div>
